/* line 7, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
html {
  font-size: 14px;
  line-height: 16px; }

/* line 13, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.bar {
  background-image: none !important; }

/* line 14, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h1, h2, h3, h4 {
  color: #397633; }

/* line 17, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
p {
  font-size: 1.1rem;
  line-height: 1.3rem; }

/* line 21, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h1 {
  font-size: 2.1rem;
  line-height: 2.3rem; }

/* line 25, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h2 {
  font-size: 1.75rem;
  line-height: 2.25rem; }

/* line 29, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h3 {
  font-size: 1.5rem;
  line-height: 1.7rem; }

/* line 33, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h4 {
  font-size: 1.25rem;
  line-height: 1.45rem; }

/* line 37, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h5 {
  font-size: 1rem;
  line-height: 1.2rem; }

/* line 41, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h6 {
  font-size: 0.86rem;
  line-height: 1rem; }

/* line 47, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h1.sunleaf {
  height: auto;
  color: #fff;
  font-size: 2.1rem;
  line-height: 2.3rem;
  text-align: center;
  font-weight: lighter;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/sunleaf.jpg") no-repeat right !important;
  background-size: cover !important;
  background-attachment: fixed; }

/* line 64, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h1.welcome {
  height: auto;
  color: #fff;
  font-size: 3rem;
  line-height: 3.2rem;
  text-align: center;
  font-weight: lighter;
  padding-top: 160px;
  padding-bottom: 160px; }

/* line 75, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.welcome-parallax {
  height: auto;
  width: 100%;
  display: table;
  margin-bottom: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/sunleaf.jpg") no-repeat right !important;
  background-size: cover !important;
  background-attachment: fixed;
  height: 290px; }
  /* line 88, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .welcome-parallax h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    line-height: 3.2rem;
    text-align: center;
    font-weight: lighter; }

/* line 101, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h1.gj-title {
  height: auto;
  display: block;
  color: #397633;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 2.2rem; }

/* line 110, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h2.gj-h2 {
  height: auto !important;
  color: #397633 !important;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: bolder;
  margin-top: 15px; }

/* line 118, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
h3 {
  height: auto !important;
  color: #397633 !important;
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: bolder;
  margin-top: 15px; }

/* line 127, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.open-source-badge {
  display: inline-block;
  padding: 1px 3px;
  background: #6fb43f;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase; }

/* line 135, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.text-center {
  text-align: center; }

/* line 138, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.text-right {
  text-align: right; }

/* line 141, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.margin-top-zero {
  margin-top: 0px !important; }

/* line 144, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.fixed-bottom {
  position: absolute;
  bottom: 0; }

/* line 148, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.full-width {
  max-width: 100%;
  display: block;
  height: auto; }

/* line 153, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.footer-logo {
  height: 34px;
  width: auto;
  display: block;
  margin: 0 auto; }

/* line 160, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.img-background {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%), url("../img/sunleaf.jpg") no-repeat right;
  background-size: cover !important;
  background-attachment: fixed; }

/* line 168, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.white-background {
  background: #fff;
  -ms-transform: translate3d(0px, 0px, 0px);
  /* IE 9 */
  -webkit-transform: translate3d(0px, 0px, 0px);
  /* Safari */
  transform: translate3d(0px, 0px, 0px); }

/* line 177, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.clear-background {
  background: none !important; }
  /* line 179, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .clear-background a.item-content {
    background: none !important;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 18px; }
  /* line 206, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .clear-background .item {
    background: none !important;
    border: none !important; }

/* line 213, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
ul.inset li {
  padding-bottom: 5px; }

/* line 220, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
a.frnt-2 {
  background: rgba(111, 180, 63, 0.9);
  text-align: center;
  display: table;
  width: 100%;
  height: 200px;
  text-decoration: none; }
  /* line 228, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  a.frnt-2 .frnt-2-in {
    width: 100%;
    color: #fff;
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

/* line 242, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.item-complex .item-content, .item-radio .item-content {
  padding-top: 26px;
  padding-bottom: 26px; }

/* line 250, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.menu-content {
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2), 3px 0px 15px rgba(0, 0, 0, 0.5); }

/* line 253, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.side-menu-override {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%), #6fb43f; }
  /* line 256, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .side-menu-override .list {
    background-color: transparent; }
    /* line 258, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
    .side-menu-override .list .item {
      border-width: 0px;
      text-align: right;
      background-color: transparent; }
      /* line 262, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
      .side-menu-override .list .item .item-content {
        background-color: transparent;
        color: #fff;
        padding-top: 16px;
        padding-bottom: 16px; }

/* line 271, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.row.unlimited-items {
  -webkit-box-flex-wrap: wrap;
  -moz-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* line 279, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.row.unlimited-items .col {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 50%;
  padding: 0px; }
  /* line 288, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .row.unlimited-items .col .card, .row.unlimited-items .col .list-inset {
    margin: 20px 5px; }

/* line 293, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.no-padding {
  padding: 0px; }

/* line 296, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.margin-bottom {
  margin-bottom: 15px; }

/* line 301, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
img.yt-thumb {
  vertical-align: bottom;
  display: block;
  max-width: 100%;
  height: auto; }

@media (min-width: 680px) {
  /* line 309, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .modal {
    top: 10%;
    right: 10%;
    bottom: 20%;
    left: 10%;
    min-height: 240px;
    width: 80%; }
  /* line 317, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .yt-title {
    font-weight: 100;
    font-size: 30px;
    line-height: 32px; } }

/* line 328, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.embed-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

/* line 336, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.embed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 354, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.item {
  font-size: 1.1rem;
  line-height: 1.3rem; }
  /* line 357, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .item p {
    font-size: 1.1rem;
    line-height: 1.3rem; }
  /* line 361, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .item h1 {
    font-size: 2.1rem;
    line-height: 2.3rem; }
  /* line 365, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .item h2 {
    font-size: 1.75rem;
    line-height: 2.25rem; }
  /* line 369, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .item h3 {
    font-size: 1.5rem;
    line-height: 1.7rem; }
  /* line 373, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .item h4 {
    font-size: 1.25rem;
    line-height: 1.45rem; }
  /* line 377, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .item h5 {
    font-size: 1rem;
    line-height: 1.2rem; }
  /* line 381, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  .item h6 {
    font-size: 0.86rem;
    line-height: 1rem; }

/* line 386, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
span.span-faq {
  font-size: 1.1rem;
  line-height: 1.3rem; }

/* line 391, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.button {
  font-size: 1.1rem; }

/* line 395, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
  font-size: 0.8rem;
  line-height: 48px; }

/* line 400, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  font-size: 1rem;
  line-height: 1.2rem; }

/* line 404, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
.input-label {
  font-weight: bolder; }

/* line 408, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
textarea {
  min-height: 200px; }

/* line 413, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
p.notes-prev {
  white-space: pre-wrap;
  height: 20px; }
  /* line 416, C:/Users/User6/Documents/IonicFinal/www/css/stylesheet.css.scss */
  p.notes-prev:after {
    content: '...'; }

/*# sourceMappingURL=stylesheet.css.css.map */