<ion-view view-title="About NMO">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf  sunleaf__about parallax-sub">NMO FAQ</h1>

           <ion-list ng-controller="FaqsCtrl">
              <ion-item ng-repeat="faq in faqs" href="#/app/faqs/{{faq.id}}" class="item-icon-right item-text-wrap">
                {{faq.title}}
                  <i class="icon ion-ios-arrow-right"></i>
              </ion-item>
            </ion-list>
   

    </ion-content>
</ion-view>
