<ion-view view-title="Latest Research" ng-controller="ResearchTwoCtrl">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf parallax-sub">Treatment Articles</h1>
        <ion-list>
          <ion-item class="item-text-wrap" ng-repeat="article in articles">
            <h3>{{article.gsx$title.$t}}</h3>
            <p>Authors: {{article.gsx$authors.$t}}</p>
            <p>{{article.gsx$publicationinfoline1.$t}}</p>
            <p>{{article.gsx$publicationinfoline2.$t}}</p>
            <p>PMID: {{article.gsx$pmid.$t}}  <span ng-if="article.gsx$opensource.$t === 'TRUE'" class="open-source-badge">Open Source</span></p>

            <div ng-switch="article.gsx$opensource.$t">
              <a ng-switch-when="TRUE" class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#"  ng-click="openReseLink(article)">Read Now</a>
              <a ng-switch-when="FALSE" class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" ng-click="openReseLink(article)">View Abstract</a>
            </div>
            
          </ion-item>
        
      
        </ion-list>
            <div class="padding white-background text-center">
              <ion-spinner ng-if="!isLoaded" icon="lines" class="center spinner-balanced"></ion-spinner>
            </div>
             
              <div class="padding white-background"><br>
            <div class="card" ng-if="!isConnected">
             <div class="item item-text-wrap">
                <h2 class="assertive">No Network Connection</h2>
               <p>I'm sorry, but your device is not connected to a network. This section of the app requires an internet connection.</p>
             </div>
           </div>
      </div>
    </ion-content>
</ion-view>
