<ion-view view-title="Advocate Resources">
    <ion-content header-parallax scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__adre parallax">Advocate Resources</h1>
        <ion-list>
            <ion-item href="#/app/adre_one" class="item-icon-right">
                NMO Resource Guide
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/adre_two" class="item-icon-right">
                Order Advocacy Supplies
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/adre_three" class="item-icon-right">
                Support Groups
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/adre_four" class="item-icon-right">
                Facebook Groups
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/adre_five" class="item-icon-right">
                Parental Telecon
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>

 
    </ion-content>
</ion-view>