<ion-view view-title="Advocate Resources">
    <ion-content header-parallaxsub scroll-event-interval="5">
        
        <h1 class="sunleaf parallax-sub">Parental Telecon</h1>
        <div class="padding white-background">

          <h3>Attention Parents with Children (18 years old or younger) Who Have NMO</h3>
          <p>Feeling a little overwhelmed?</p>
          <p>Wonder how other parents cope?</p>
          <p>YOU ARE NOT ALONE!</p>
          <p><strong>Our NMO Parental Support Teleconferences are for you:</strong></p>
          <ul>
            <li>
              &#8226; Parent-to-Parent Support
            </li>
            <li>
               &#8226; Different Topics Each Call
            </li>
            <li>
               &#8226; Guest Speakers
            </li>
            <li>
               &#8226; Community of Caring
            </li>
            <li>
               &#8226; For Parents with Teenage Children or younger
            </li>
          </ul>
          <br><br>
          
           <div class="card">
            <div class="item item-text-wrap">
             <p><strong>Dates:</strong> Every month: 1<sup>st</sup> and 3<sup>rd</sup> Tuesdays</p>
          
              <p><strong>Time: </strong>7 p.m. Central Time</p>
             </div>
           </div>
          
          <br><br>
          <h4>Interested in joining?</h4>
          
         
           <a class="button button-block button-outline button-balanced icon-left ion-ios-email-outline"  onclick="window.open('mailto:lisamcdaniel@mail.com?subject=Parental Telecon', '_system', ''); return false;" href="#">Request Info</a>
        
   
        </div>
    </ion-content>
</ion-view>
  