<ion-view view-title="Advocate Resources">
    <ion-content header-parallaxsub scroll-event-interval="5">
        
        <h1 class="sunleaf sunleaf__adre parallax-sub">Advocacy Supplies</h1>
        <div class="white-background">
      <div class="padding">
        <p>Use this page on the GJCF website to order print materials full of information that can help you navigate the world of NMO.</p>
        <p><em>*If shipping outside the continental U.S., the materials are free, but you must agree to pay shipping.</em></p>
        <div class="row">
            <div class="col"><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('https://guthyjacksonfoundation.org/advocacy-supplies', '_system', ''); return false;">Order Advocacy Supplies</a>
           </div>
         </div>
          
        <h4>List of Advocacy Supplies</h4>
      </div>
     <ion-list>
       <ion-item class="item-thumbnail-left item-text-wrap">
         <img src="img/ResourceGuideCover.2.png">
         <h4>NMO Patient Resource Guides</h4>
       </ion-item>
     </ion-list>
       <ion-item class="item-thumbnail-left item-text-wrap">
         <img src="img/NMOBrochure_finalv6-11.png">
         <h4>NMO/MS Brochures</h4>
       </ion-item>
     </ion-list>
       <ion-item class="item-thumbnail-left item-text-wrap">
         <img src="img/NMOtion_Rack_Card_Final-2.png">
         <h4>NMO Clinical Trials Info Cards</h4>
       </ion-item>
     </ion-list>
     </div>
    </ion-content>
</ion-view>
