<ion-view view-title="Blood Bank" ng-controller="BloodTwoCtrl">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__blood parallax-sub">Draw Sites</h1>
        <div class="white-background">
        <img src="img/mapupdated.png" class="full-width" alt="Blood Bank Map">
           <ion-list ng-show="isConnected">
            <ion-item ng-repeat="item in items">
                <h2 class="gj-h2">Region - {{item[9]}}</h2>
                <div>
                    <p>
                        <strong>{{item[4]}}</strong>
                    </p>
                    <p>{{item[5]}}</p>
                    <p>{{item[0]}}</p>
                    <p>Please contact {{item[6]}},</p>
                    <p>Clinical Research Coordinator</p>
                    <p>
                        <a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+{{item[7]}}', '_system', ''); return false;">{{item[7]}} (Office)</a>
                    </p>
                    <p>
                        <a class="button button-block button-outline button-balanced icon-left ion-ios-email-outline"  href="#" onclick="window.open('mailto:{{item[8]}}', '_system', ''); return false;">{{item[8]}}</a>
                    </p>
                </div>
            </ion-item>

        </ion-list>
        <div class="card" ng-if="!isConnected">
             <div class="item item-text-wrap">
                <h2 class="assertive">No Network Connection</h2>
               <p>I'm sorry, but your device is not connected to a network. This section of the app requires an internet connection in order to provide the most updated information.</p>
             </div>
           </div>
      </div>
    </ion-content>
</ion-view>