<ion-view view-title="Diagnosing NMO">
    <ion-content header-parallax scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__diag parallax">Diagnosing NMO</h1>
        <ion-list>
            <ion-item href="#/app/diag_one" class="item-icon-right item-text-wrap">
                Diagnostic Quick Card
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/diag_two" class="item-icon-right item-text-wrap">
                Diagnosic Criteria Fact Sheet
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/diag_three" class="item-icon-right item-text-wrap">
                Test Access
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/diag_four" class="item-icon-right item-text-wrap">
                Press Release
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/diag_five" class="item-icon-right item-text-wrap">
                Journal Publications
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>