<ion-view view-title="Diagnosing NMO">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__diag parallax-sub">Press Release</h1>
        <div class="padding white-background">
        <br>
        <p><strong>News Release</strong></p>

        <p><strong>July 8, 2015</strong></p>

        <h2 class="gj-h2">Panel Outlines New Diagnostic Criteria for Central Nervous System Disorder</h2>
        <p>
            PHOENIX – New diagnostic criteria were introduced this week for neuromyelitis optica, now called neuromyelitis optica spectrum disorder, which is an inflammatory disease of the central nervous system that is sometimes mistaken for multiple sclerosis .
        </p>
        <p>
            An international consensus panel, chaired by Mayo Clinic neurologists Dean Wingerchuk, M.D.,  and Brian Weinshenker, M.D.,  reviewed the medical literature and recent scientific discoveries relating to NMOSD to develop new diagnostic criteria.  The Guthy-Jackson Charitable Foundation sponsored this panel.
        </p>
        <p>
            NMOSD can affect the optic nerves, brain stem, spinal cord and brain. It can cause a spectrum of symptoms, including visual loss, paralysis and episodes of persistent hiccups, nausea and vomiting. Detection of aquaporin-4 immunoglobulin G antibodies (AQP4-IgG), using a blood test that was developed by Mayo Clinic investigators, is highly specific for NMOSD and facilitates the diagnosis. Some patients have the key features of NMOSD, but do not have detectable antibodies. The new criteria address both possibilities.
        </p>
        <p>
            "There have been many advances in the science of this disease since formal criteria were last developed in 2006," says Dr. Wingerchuk. "The work of this panel was a two-year project, a consensus effort by international experts on all facets of the disease – clinical, laboratory, imaging, adult and pediatric. It really brings the diagnostic criteria up to date. It aligns them with contemporary clinical practice and provides a platform for future research, because there is still a lot we don't know."
        </p>
        <p>
            The IPND's paper outlining the new diagnostic criteria is published online this week in the journal Neurology. Access the paper for free.
        </p>
        <p>
            "It’s very important for clinicians to know about these updated criteria,” explains Dr. Wingerchuk. “An accurate diagnosis is necessary for selecting the right therapy. We treat NMOSD differently than we treat MS, and some MS therapies actually aggravate NMOSD.
        </p>
        <p>
            Some differences between the old criteria and the new include:
        </p>
        <ul>
            <li>Diagnosis was not possible by identifying a single clinical symptom. Now it is.</li>
            <li>The 2006 criteria also required a diagnosis of optic neuritis and myelitis; whereas, the new 2015 criteria require neither if an AQP4-IgG blood test proves positive.</li>
        </ul>
        <p>
            “These criteria unite a group of syndromes that have been separated in the past somewhat arbitrarily, but are now believed to be different manifestations of NMOSD largely because of their association with a specific antibody, AQP4-IgG,” says Dr. Weinshenker. “It's still not clear if patients with similar clinical presentations who do not carry the AQP4-IgG antibody have NMOSD. However, it appears that their clinical disease is sufficiently similar to that of patients with the antibody to warrant a diagnosis of NMOSD without AQP4-IgG antibodies.”
        </p>
        <p>
            NMOSD is estimated to affect 1 to 2 percent of patients who visit MS clinics in the U.S. Even though it can strike in infancy and as late as a person's eighties, the median age of onset is 40 years old – 10 years later than the median onset age for MS. It's also more likely to affect women. While it's an uncommon condition across all cultures, it's relatively more common in Asia.
        </p>
        <p>
            "We hope the 2015 criteria will increase awareness, understanding and earlier, more accurate diagnosis and treatment of NMOSD, leading to better outcomes for people with the disease," says Dr. Wingerchuk.
        </p>
        <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline"  href="#" onclick="window.open('https://s3.amazonaws.com/gjcf-wp-uploads/wp-content/uploads/2016/05/16160941/Panel-Outlines-New-Diagnostic-Criteria-for-Central-Nervous-System-Disorder-July-8-2015.pdf', '_system', ''); return false;">Link to PDF</a>
        </div>
    </ion-content>
</ion-view>



