<ion-view view-title="Diagnosing NMO">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf parallax-sub">Diagnostic Criteria Card</h1>
        <div class="padding white-background">
         <br>
          <h2 class="gj-h2">NMOSD with AQP4-IgG	</h2>
          <div class="list card">
              <span class="item item-text-wrap">At least 1 core clinical characteristic</span>
              <span class="item item-text-wrap">Positive test for AQP4-IgG*</span>
              <span class="item item-text-wrap">Exclusion of alternative diagnoses**</span>
              <span class="item item-divider item-text-wrap">Notes</span>
              <span class="item item-text-wrap"><em>*	Using best available detection method (cell-based assay strongly recommended) </em></span>
              <span class="item item-text-wrap"><em>**	Evaluation for alternative diagnoses guided by “red flags”</em></span>

          </div>

          <h2 class="gj-h2">NMOSD without AQP4-IgG or Unknown AQP4-IgG Status </h2>
          <div class="list card">
              <span class="item item-text-wrap">At least 2 core clinical characteristics resulting from 1 or more clinical attacks and satisfying all of the following requirements:</span>

              <span class="item item-text-wrap">a &rpar; At least one of: ON, acute myelitis with LETM, or APS</span>
              <span class="item item-text-wrap">b &rpar; Dissemination in space (&ge;2 different core characteristics)</span>
              <span class="item item-text-wrap">c &rpar; MRI requirements, if applicable (see below)</span>
              <span class="item item-text-wrap">Negative test(s) for AQP4-IgG* or testing unavailable </span>
              <span class="item item-text-wrap">Exclusion of alternative diagnoses**</span>
              <span class="item item-divider item-text-wrap">Notes</span>
              <span class="item item-text-wrap"><em>*	Using best available detection method (cell-based assay strongly recommended) </em></span>
              <span class="item item-text-wrap"><em>**	Evaluation for alternative diagnoses guided by “red flags”</em></span>

          </div>

          <h2 class="gj-h2">Core Clinical Characteristics of NMOSD</h2>
          <div class="list card">
              <span class="item item-divider item-text-wrap"><h3>Most common:</h3></span>

              <span class="item item-text-wrap">Optic neuritis (ON)</span>
              <span class="item item-text-wrap">Acute myelitis</span>
              <span class="item item-text-wrap">Area postrema syndrome (APS): episode of otherwise unexplained hiccups or nausea and vomiting</span>

              <span class="item item-divider item-text-wrap"><h3>Less common:</h3></span>

              <span class="item item-text-wrap">Acute brain stem syndrome</span>
              <span class="item item-text-wrap">Symptomatic narcolepsy or acute diencephalic clinical syndrome with NMOSD-typical diencephalic MRI lesions</li></span>
              <span class="item item-text-wrap">Symptomatic cerebral syndrome with NMOSD- typical brain lesions</span>

          </div>

          <h2 class="gj-h2">Supporting MRI Requirements for NMOSD without AQP4-IgG</h2>
          <div class="list card">
              <span class="item item-text-wrap"><strong>Acute optic neuritis:</strong> brain MRI normal or demonstrating only nonspecific white matter lesions; OR optic nerve MRI with T2-hyperintense lesion or T1-weighted gadolinium-enhancing lesion extending over &gt;1/2 optic nerve length or involving optic chiasm</span>
              <span class="item item-text-wrap"><strong>Acute myelitis:</strong> spinal cord MRI showing attack-associated lesion extending &ge;3 contiguous segments (LETM); OR &ge;3 contiguous segments of focal cord atrophy in patients with prior history of acute myelitis </span>
              <span class="item item-text-wrap"><strong>Area postrema syndrome:</strong> dorsal medulla/area postrema MRI lesion </span>
              <span class="item item-text-wrap"><strong>Acute brain stem syndrome:</strong> peri-ependymal brain stem lesions </span>

          </div>

          <h3>References</h3>
          <p><em>Wingerchuk DM, et al. International consensus criteria for neuromyelitis optica spectrum disorders. Neurology 2015;85:1-13.</em></p>
        </div>

    </ion-content>
</ion-view>
