<ion-view view-title="Diagnosing NMO">
    <ion-content header-parallaxsub scroll-event-interval="5">

        <h1 class="sunleaf sunleaf__diag parallax-sub">Diagnostic Criteria Fact Sheet</h1>
        <div class="padding white-background">
            <br>
                <h2 class="gj-h2">Why are new diagnostic criteria necessary? </h2>
                <div>
                    <ul class="inset">
                        <li>Expanding disease spectrum (incomplete forms, brain lesions) not reflected in previous criteria </li>
                        <li>Early diagnosis important and feasible, especially in AQP4-IgG seropositive individuals </li>
                    </ul>
                </div>
            
                <h2 class="gj-h2">How were the new criteria developed?</h2>
                <div>
                    <ul class="inset">
                        <li>International expert panel consensus after comprehensive review of available literature </li>
                        <li>Review of vignettes of varying levels of clinical, MRI, serologic evidence </li>
                    </ul>
                </div>
         
                <h2 class="gj-h2">What are the key aspects of the new criteria?</h2>
                <div>
                    <ul class="inset">
                        <li>NMO spectrum disorder (NMOSD) is the umbrella term for NMO and the expanded spectrum of NMO presentations</li>
                        <li>NMOSD patients are further stratified based on AQP4-IgG status </li>
                        <li>Diagnosis can only be made in symptomatic individuals with compatible clinical presentations </li>
                        <li>Clinical presentation is defined based on 6 neuroanatomically-based core clinical characteristics </li>
                        <li>Only one core clinical characteristic is required in AQP4-IgG seropositive patients </li>
                        <li>Criteria for AQP4-IgG seronegative NMOSD are similar to seropositive criteria but more stringent </li>
                        <li>“Red flags” (clinical, neuroimaging, or laboratory findings) are identified that should raise concern about NMOSD diagnostic accuracy and identify conditions that could be mistaken for NMO </li>
                        <li>The criteria address interpretation of AQP4-IgG results </li>
                        <li>The criteria are applicable to children although caution is required regarding longitudinally extensive transverse myelitis lesions as this finding may also occur in children with MS </li>
                    </ul>

                </div>
        
                <h2 class="gj-h2">Comparison of old (2006) NMO and new (2015) NMOSD criteria</h2>
                <ion-slide-box>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Characteristic</h4></div>
                                    <div class="col"><p><strong>Symptoms compatible with NMO required</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2006</h4></div>
                                    <div class="col"><p><strong>Yes</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2015</h4></div>
                                    <div class="col"><p><strong>Yes</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Characteristic</h4></div>
                                    <div class="col"><p><strong>Signs compatible with NMO required</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2006</h4></div>
                                    <div class="col"><p><strong>Yes</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2015</h4></div>
                                    <div class="col"><p><strong>Not necessarily: vomiting, hiccups and anorexia are examples of symptoms that may occur without exam signs</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Characteristic</h4></div>
                                    <div class="col"><p><strong>Optic neuritis and myelitis</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2006</h4></div>
                                    <div class="col"><p><strong>Both required</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2015</h4></div>
                                    <div class="col"><p><strong>Neither required in AQP4-IgG seropositive cases</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Characteristic</h4></div>
                                    <div class="col"><p><strong>Incorporation of AQP4-IgG </strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2006</h4></div>
                                    <div class="col"><p><strong>Supportive</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2015</h4></div>
                                    <div class="col"><p><strong>Stratifies NMOSD as AQP4-IgG seropositive or seronegative</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Characteristic</h4></div>
                                    <div class="col"><p><strong>Diagnosis possible with single clinical manifestation</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2006</h4></div>
                                    <div class="col"><p><strong>No</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2015</h4></div>
                                    <div class="col"><p><strong>Yes</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Characteristic</h4></div>
                                    <div class="col"><p><strong>Compatible brain syndromes and MRI lesion patterns specified</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2006</h4></div>
                                    <div class="col"><p><strong>No</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2015</h4></div>
                                    <div class="col"><p><strong>Yes</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Characteristic</h4></div>
                                    <div class="col"><p><strong>Coexisting autoimmune disorders</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2006</h4></div>
                                    <div class="col"><p><strong>Not considered</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>2015</h4></div>
                                    <div class="col"><p><strong>Supportive of diagnosis</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>

                </ion-slide-box>


           
                <h2 class="gj-h2">Comparison of Requirements for Diagnosis of NMOSD with AQP4-IgG and NMOSD without AQP4-IgG</h2>
                <ion-slide-box>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Requirements</h4></div>
                                    <div class="col"><p><strong>Number of attacks</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD with AQP4-IgG</h4></div>
                                    <div class="col"><p><strong>1+</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD without AQP4-IgG</h4></div>
                                    <div class="col"><p><strong>1+</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Requirements</h4></div>
                                    <div class="col"><p><strong>Number of different core clinical characteristics</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD with AQP4-IgG</h4></div>
                                    <div class="col"><p><strong>1+</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD without AQP4-IgG</h4></div>
                                    <div class="col"><p><strong>2+</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Requirements</h4></div>
                                    <div class="col"><p><strong>Type of core clinical characteristics</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD with AQP4-IgG</h4></div>
                                    <div class="col"><p><strong>Any 1 of 6</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD without AQP4-IgG</h4></div>
                                    <div class="col">
                                        <p><strong>At least 1 of:</strong></p>
                                        <ul>
                                            <li>Optic neuritis with MRI criteria</li>
                                            <li>Myelitis plus LETM criteria</li>
                                            <li>Area postrema syndrome with MRI criteria</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide class="padding">
                        <div class="card">
                            <div class="item item-text-wrap">
                                <div class="row">
                                    <div class="col"><h4>Requirements</h4></div>
                                    <div class="col"><p><strong>Additional supportive MRI criteria</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD with AQP4-IgG</h4></div>
                                    <div class="col"><p><strong>No</strong></p></div>
                                </div>
                                <div class="row">
                                    <div class="col"><h4>NMOSD without AQP4-IgG</h4></div>
                                    <div class="col"><p><strong>Yes</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>

                </ion-slide-box>
         
                <h2 class="gj-h2">What do the 2015 IPND criteria accomplish? </h2>
                <div>
                    <ul class="inset">
                        <li>Align with contemporary expert practice of patients with NMOSD </li>
                        <li>Serve as a tool to educate clinicians and clinical trainees as to the current standards for diagnosis of NMOSD </li>
                        <li>Facilitate treatment and clinical research by allowing for accurate diagnosis of patients with NMOSD at an early point in the disease </li>
                        <li>Expand the pool of patients potentially suitable for clinical trials for NMOSD </li>
                    </ul>

                </div>
      
                <h2 class="gj-h2">What do the 2015 IPND criteria not accomplish?</h2>
                <div>
                    <ul class="inset">
                        <li>Provide a diagnosis for every potential presentation of NMOSD; detailed workup is essential for atypical cases and identification of alternative diagnoses necessary in appropriate patients </li>
                        <li>Adequately characterize the heterogeneity of AQP4-IgG seronegative NMOSD </li>
                    </ul>


                </div>
      
                <h2 class="gj-h2">What are the next steps? </h2>
                <div>
                    <ul class="inset">
                        <li>Criteria validation based on retrospective and prospective follow-up data to identify pitfalls and misdiagnosis </li>
                        <li>Continued assessment of the sensitivity and specificity of AQP4-IgG assays </li>
                        <li>Better characterization of both AQP4-IgG seropositive and seronegative patient subsets to individualize prognosis and optimize treatment </li>
                    </ul>
                </div>

         
                <h3>References</h3>
                <div>
                    <p>Wingerchuk DM, Lennon VA, Pittock SJ, Lucchinetti CF, Weinshenker BG. Revised diagnostic criteria for neuromyelitis optica. Neurology 2006;66:1485-1489.</p>
                    <p>Wingerchuk DM et al. International consensus diagnostic criteria for neuromyelitis optica spectrum disorders. Neurology 2015;85:1-13.</p>

                </div>
         






        </div>
    </ion-content>
</ion-view>
