<ion-view view-title="Clinical Trials">
    <ion-content  header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__clin parallax-sub">Clinical Trials Webinars</h1>
     
        <ion-list ng-controller="CTWsCtrl">
          <ion-item ng-repeat="ctw in ctws" href="#/app/clin_web/{{ctw.id}}" class="item-icon-right item-text-wrap">
            {{ctw.title}}
              <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>