<ion-view view-title="About NMO">
    <ion-content>
        <h1 class="sunleaf">About NMO</h1>
        <div class="card">
          <div class="item embed-video">
              <iframe src="https://www.youtube.com/embed/jokrVgahoIU?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
         
        </div>
        <br><br>
        <ion-list>
            <ion-item  href="#/app/about_one" class="item-icon-right">
                What is NMO?
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/about_two" class="item-icon-right">
                NMO/MS - What You Need to Know
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/faqs" class="item-icon-right">
                NMO FAQ
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
