<ion-view view-title="About NMO">
    <ion-content header-parallaxsub scroll-event-interval="5">

        <h1 class="sunleaf parallax-sub">NMO/MS</h1>
        <div class="padding white-background">
        <h2 class="gj-h2">Neuromyelitis Optica is NOT Multiple Sclerosis</h2>
        <p>Until recently, NMO was thought to be a type of Multiple Sclerosis. However, recent discoveries indicate that NMO and MS are distinct diseases. Traditionally spinal cord lesions seen in NMO are longer than MS but this is not always the case.</p>

        <p>With so many symptoms in common, NMO can sometimes be confused with MS or other diseases. But these diseases are treated in different ways and early detection and treatment help ensure best outcomes.</p>
        <div class="embed-video widget uib_w_25 d-margins" data-uib="media/youtube" data-ver="0"><iframe src="http://www.youtube.com/embed/2EZvpyqPcy8?wmode=transparent&showinfo=0" frameborder="0"></iframe></div>
        <p><strong>Ask your doctor about NMO, and whether an <em>NMO antibody test</em> is right for you</strong>.</p>

        <p>The discovery of an antibody in the blood of individuals with NMO gives doctors a reliable way of determining if you have NMO.</p>
        <ul class="accordion">
            <li>
                <h2 class="gj-h2">Why Is It Important To Know About NMO?</h2>
                <div>
                    <p>With so many symptoms in common, NMO can sometimes be confused with MS or other diseases. But these diseases are treated in different ways and early detection and treatment help ensure best outcomes.</p>
                </div>
            </li>
            <li>
                <h2 class="gj-h2">What Are The Symptoms?</h2>

                <p>NMO symptoms can vary from person to person and may resemble MS symptoms in many ways. NMO is most commonly characterized by inflammation of the spinal cord and/or optic nerves, causing any of the following symptoms:</p>
                <div class="list card">
                    
                    <span class="item item-text-wrap">Rapid onset of eye pain or loss of vision (optic neuritis).</span>
                    <span class="item item-text-wrap">Limb weakness, numbness, or partial paralysis (transverse myelitis).</span>
                    <span class="item item-text-wrap">Shooting pain or tingling in the neck, back or abdomen.</span>
                    <span class="item item-text-wrap">Loss of bowel and bladder control.</span>
                    <span class="item item-text-wrap">Prolonged nausea, vomiting or hiccups.</span>
                    <span class="item item-text-wrap">Sometimes these symptoms are temporary, and resolve on their own. In any case, it is important to discuss these symptoms with your doctor to help consider NMO in your diagnosis.</span>
                  

                </div>
            </li>
        </ul>
        </div>
    </ion-content>
</ion-view>
