<ion-view view-title="Blood Bank">
    <ion-content>
        <h1 class="sunleaf">Blood Bank</h1>
        <ion-list>
            <ion-item href="#/app/blood_one" class="item-icon-right">
                About the Blood Bank
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/blood_two" class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
                Find a Draw Site
            </ion-item>
        </ion-list>
       


        
    </ion-content>
</ion-view>