<ion-view view-title="Blood Bank">
    <ion-content class="padding">
        <h1 class="gj-title">Blood Bank</h1>
        <p>If you or someone you know has been diagnosed with NMO, please help us with blood samples and/or clinical data donations to our Biorepository. Blood samples and clinical data are vital for NMO research. Many developments in NMO treatment come from doctors and researchers analyzing blood samples and data.</p>
        <p>Only a limited amount of NMO samples are available worldwide, making accessibility to NMO biosamples by our research scientists an urgent need. You can help us meet this critical need by donating your samples and clinical data, thereby raising awareness of our repository program.</p>
        <ul class="accordion">
            <li>
                <h2 class="gj-h2">Already donated? </h2>
                <div>
                    <p>Donate again and often! Longitudinal draws along with your information are a critical part of creating solutions for NMO. Scientists need to examine multiple samples of your blood over periods of time to study the changes in each sample. <em>Longitudinal draws are just as important as your first sample donation.</em></p>

                </div>
            </li>
            <li>
                <h2 class="gj-h2">How to donate</h2>
                <div>
                    <p>Donating is easier and faster than you think. Contact the nearest CIRCLES center for information about the LabCorp donation site nearest you.</p>

                </div>
            </li>
            <li>
                <h2 class="gj-h2">What happens to your sample</h2>
                <div>
                    <p>Your samples will be stored at the GJCF Biorepository. This is like a library where your samples will be kept with some de-identified details of your environment and medical history. A computer stores this information, so that authorized researchers can find the samples they need.</p>

                </div>
            </li>
            <li>
                <h2 class="gj-h2">We need your family members’ blood samples</h2>
                <div>
                    <p>Blood relatives of NMO repository participants may enroll as “control” subjects. Samples from your immediate family could yield important information about genetic and environmental factors related to NMO. Contact us for details about this important aspect of our repository.</p>

                </div>
            </li>
            <li>
                <h2 class="gj-h2">Blood Samples Also Known As “Biosamples” Are Used To</h2>
                <div>
                    <ul class="inset">
                        <li>- Find out how NMO relapses develop in order to try to prevent them.</li>
                        <li>- Develop and test new drugs.</li>
                        <li>- Find new ways to diagnose NMO.</li>
                        <li>- Try to work out which treatments work for particular groups of patients.</li>
                        <li>- Find new ways to treat NMO.</li>
                        <li>- Find better ways of controlling side effects and symptoms</li>
                    </ul>
                </div>
            </li>
            <li>
                <h2 class="gj-h2">The GJCF International Clinical Consortium and Biorepository</h2>
                <div>
                    <p>The GJCF International Clinical Consortium (ICC) connects the Biorepository (BR) to scientific, clinical, industry and agencies’ expertise. Members of the ICC&amp;BR have access to these resources to solve NMO through innovative prevention, diagnostic, therapeutic and educational strategies that benefit patients worldwide.</p>

                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>