<ion-view view-title="Diagnosing NMO">
    <ion-content>
        <h1 class="gj-title padding">NMO Antibody Test Access</h1>
        <ion-list>
            <ion-item>
                <h2 class="gj-h2">ARUP Laboratories</h2>
                <div>
                    <p><strong>Assay Method: </strong>ELISA** Detects anti-AQP4 antibody</p>
                    <p><strong>Test Code: </strong>2003036</p>
                    <p><strong>Turn-Around Time: </strong>1 - 8 days</p>
                    <p><strong>Estimated Cost: </strong>Refer to hospital or doctor</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline" href="#" onclick="window.open('http://www.aruplab.com', '_blank', ''); return false;">www.aruplab.com</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline" href="#" onclick="window.open('tel:+18005222787', '_system', ''); return false;">(800) 522 - 2787</a></p>
                </div>
            </ion-item>
            <ion-item>
                <h2 class="gj-h2">Athena Diagnostics, Inc.</h2>
                <div>
                    <p><strong>Assay Method: </strong>ELISA** Detects anti-AQP4 antibody</p>
                    <p><strong>Test Code: </strong>193</p>
                    <p><strong>Turn-Around Time: </strong>5 - 7 days</p>
                    <p><strong>Estimated Cost: </strong>$840 - Insurance; $560 - Hospital or reference laboratory</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('http://www.athenadiagnostics.com', '_blank', ''); return false;">www.athenadiagnostics.com</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+18003944493', '_system', ''); return false;">(800) 394 - 4493</a></p>
                </div>
            </ion-item>
            <ion-item>
                <h2 class="gj-h2">BioReference Laboratories </h2>
                <div>
                    <p><strong>Assay Method: </strong>Outsourced to ARUP</p>
                    <p><strong>Test Code: </strong>6371</p>
                    <p><strong>Turn-Around Time: </strong>10 business days from date of arrival</p>
                    <p><strong>Estimated Cost: </strong>395</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline" href="#" onclick="window.open('http://www.bioreference.com', '_blank', ''); return false;">www.bioreference.com</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+18005222787', '_system', ''); return false;">(800) 522 - 2787</a></p>
                </div>
            </ion-item>
            <ion--item>
                <h2 class="gj-h2">GenPath Diagnostics</h2>
                <div>
                    <p><strong>Assay Method: </strong>Outsourced to ARUP</p>
                    <p><strong>Test Code: </strong>6371-9</p>
                    <p><strong>Turn-Around Time: </strong>10 business days from date of arrival</p>
                    <p><strong>Estimated Cost: </strong>395</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('http://www.genpathdiagnostics.com', '_blank', ''); return false;">www.genpathdiagnostics.com</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+18006334522', '_system', ''); return false;">(800) 633 - 4522</a></p>
                </div>
            </ion--item>
            <ion-item>
                <h2 class="gj-h2">Kaiser Permanente</h2>
                <div>
                    <p><strong>Assay Method: </strong>Outsourced to Quest Diagnostics</p>
                    <p><strong>Test Code: </strong>Members must inquire</p>
                    <p><strong>Turn-Around Time: </strong>Members must inquire</p>
                    <p><strong>Estimated Cost: </strong>Members must inquire</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('http://www.kaiserpermanente.org', '_blank', ''); return false;">www.kaiserpermanente.org</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+18004644000', '_system', ''); return false;">(800) 464 - 4000</a></p>
                </div>
            </ion-item>
            <ion-item>
                <h2 class="gj-h2">LabCorp</h2>
                <div>
                    <p><strong>Assay Method: </strong>ELISA** Detects anti-AQP4 antibody</p>
                    <p><strong>Test Code: </strong>4210</p>
                    <p><strong>Turn-Around Time: </strong>3 - 4 days</p>
                    <p><strong>Estimated Cost: </strong>764</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('http://www.labcorp.com/wps/portal', '_blank', ''); return false;">www.labcorp.com/wps/portal</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+18008596046', '_system', ''); return false;">(800) 859 - 6046</a></p>
                </div>
            </ion-item>
            <ion-item>
                <h2 class="gj-h2">Mayo Clinic</h2>
                <div>
                    <p><strong>Assay Method: </strong>Cell binding Assay (CBA) / Detects IgG Specific for AQP4 (M1 isoform) by Indirect Immunofluorescence Assay (IFA)</p>
                    <p><strong>Test Code: </strong>Serum: NMOCS - 86255 CSF: NMOCC - 61716</p>
                    <p><strong>Turn-Around Time: </strong>2 - 6 business days</p>
                    <p><strong>Estimated Cost: </strong>Based on client pricing. Institutional billing only</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('http://www.mayoclinic.org', '_blank', ''); return false;">www.mayoclinic.org</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+18005331710', '_system', ''); return false;">(800) 533 - 1710</a></p>
                </div>
            </ion-item>
            <ion-item>
                <h2 class="gj-h2">Quest Diagnostics</h2>
                <div>
                    <p><strong>Assay Method: </strong>ELISA** Detects anti-AQP4 antibody</p>
                    <p><strong>Test Code: </strong>90382</p>
                    <p><strong>Turn-Around Time: </strong>7 - 14 days</p>
                    <p><strong>Estimated Cost: </strong>560</p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('http://www.questdiagnostics.com', '_blank', ''); return false;">www.questdiagnostics.com</a></p>
                    <p><a class="button button-block button-outline button-balanced icon-left ion-ios-telephone-outline"  href="#" onclick="window.open('tel:+18772917521', '_system', ''); return false;">(877) 291 - 7521</a></p>
                </div>
            </ion-item>

        </ion-list>
        <br>
        <div class="list card">
            <span class="item item-divider item-text-wrap">Notes</span>
            <span class="item item-text-wrap">*For informational purposes only; all data obtained from public domain sources, accessed May 2015.</span>
            <span class="item item-text-wrap">**ELISA: enyzme-linked immunosorbant assay</span>
            <span class="item item-text-wrap">List may not include all applicable reference laboratories in the United States. If you have a suggested lab to add to this list, please contact us.</span>
            <span class="item item-text-wrap">Information subject to change without notice.</span>
        </div>
    
    </ion-content>
</ion-view>
