<ion-view view-title="Find an Expert">
    <ion-content>
        <h1 class="sunleaf">Find an Expert</h1>
        <ion-list>
            <ion-item href="#/app/docstates" class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
                United States
            </ion-item>
            <ion-item href="#/app/doccountries" class="item-icon-right">
                Outside the United States
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>