<ion-view view-title="About The GJCF">
    <ion-content header-parallax scroll-event-interval="5">
        <h1 class="sunleaf parallax">About The GJCF</h1>
        <div class="padding white-background">

            <p>The Guthy-Jackson Charitable Foundation is dedicated to funding basic science research to find answers that will lead to the prevention, clinical treatment programs and a potential cure for Neuromyelitis Optica (NMO) Spectrum Disease.
            <p>The decision to create our Foundation came from a personal family crisis. Our daughter was officially diagnosed with NMO in June 2008. Since that time, we have met with many clinicians and researchers in order to understand what this means for our beautiful daughter and our family. Additionally, we have gathered and read every piece of information and NMO research article that is available on the Web.  We are now beginning to understand that NMO is not only considered an “orphan” disease, but that very little research is available.</p>
            <p>The Guthy-Jackson Charitable Foundation is dedicated to funding biomedical research in the search to understand the pathophysiology and biochemistry of NMO Spectrum Disease. It is our greatest hope that together we will reverse the effects of NMO and eventually cure this disease.</p>
            <p>Sincerely,</p>
            <p>Victoria Jackson and Bill Guthy, Founders</p>
            <p>The Guthy-Jackson Charitable Foundation</p>
            <div class="row">
              <div class="col"><div class="card">
                <div class="item no-padding"><img src="img/vj.jpg" class="full-width" alt="Victoria Jackson"></div>
                <div class="item item-footer item-text-wrap text-center">Victoria Jackson</div>
              </div></div>
              <div class="col"><div class="card">
                <div class="item no-padding"><img src="img/bg.jpg" class="full-width" alt="Bill Guthy"></div>
                <div class="item item-footer  item-text-wrap text-center">Bill Guthy</div>
              </div></div>
            </div>
         <div class="row">
            <div class="col"><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('http://www.guthyjacksonfoundation.org', '_system', ''); return false;">Visit Us Online</a>
           </div></div>
          
          <div class="row">
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-facebook-outline"  href="#" onclick="window.open('https://www.facebook.com/guthyjacksonfoundation/timeline/', '_system', ''); return false;">Facebook</a></div>
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-twitter-outline"  href="#" onclick="window.open('http://twitter.com/guthyjacksonfdn', '_system', ''); return false;">Twitter</a></div>
          </div>
          
          <div class="row">
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-instagram-outline"  href="#" onclick="window.open('http://www.instagram.com/theguthyjacksonfdn/', '_system', ''); return false;">Instagram</a></div>
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-youtube-outline"  href="#" onclick="window.open('http://www.youtube.com/user/GJCF2010', '_system', ''); return false;">YouTube</a></div>
          </div>
          
          
          <div class="row">
            <div class="col"><a class="button button-block button-outline button-balanced icon-left ion-social-usd-outline"  href="#" onclick="window.open('http://www.guthyjacksonfoundation.org/donate/', '_system', ''); return false;">Donate</a></div></div>
        </div>
    </ion-content>
</ion-view>