<ion-view view-title="About The GJCF">
    <ion-content header-parallax scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__gjcf parallax">About The GJCF</h1>
        <div class="padding white-background">
          <p>The Guthy-Jackson Charitable Foundation was established in 2008 when our beautiful teenage daughter was first diagnosed with Neuromyelitis Optica (NMO), a life-threatening autoimmune disease.  At a time when so little was known about this rare “orphan” disorder, and when there were no existing foundations or advocacy groups focused on solving NMO, we dedicated ourselves to funding basic and clinical research desperately needed to better understand, treat and ultimately cure this devastating disease.</p>
            <p>From the start, we saw the need to venture beyond traditional science models: by connecting experts from around the world and across multiple disciplines; by incentivizing the sharing of research vital for life-saving discoveries in the laboratory; and by creating a global community of patients, caregivers, and physicians. We have forged alliances between public and private institutions, and with academic, industry and regulatory partners.  Our media has continually pushed the envelope to reach around the world and is helping to spur a groundbreaking global movement on behalf of all those impacted by NMO.   </p>
            <p>Today, with industry-sponsored clinical trials underway and the promise of bold innovative cures on the horizon, we stand at a new threshold. We believe we have the means to solve NMO. In so doing, we will open more windows to solving many other autoimmune diseases. We do this for our daughter – and all the daughters and mothers, sons and fathers, families, friends and advocates who join us in our mission.</p>
            <p>– With hope and gratitude,</p>
            <p>Victoria Jackson and Bill Guthy, Founders</p>
            <p>The Guthy-Jackson Charitable Foundation</p>
            <div class="row">
              <div class="col"><div class="card">
                <div class="item no-padding"><img src="img/vj.jpg" class="full-width" alt="Victoria Jackson"></div>
                <div class="item item-footer item-text-wrap text-center">Victoria Jackson</div>
              </div></div>
              <div class="col"><div class="card">
                <div class="item no-padding"><img src="img/bg.jpg" class="full-width" alt="Bill Guthy"></div>
                <div class="item item-footer  item-text-wrap text-center">Bill Guthy</div>
              </div></div>
            </div>
         <div class="row">
            <div class="col"><a class="button button-block button-outline button-balanced icon-left ion-ios-home-outline"  href="#" onclick="window.open('https://guthyjacksonfoundation.org', '_system', ''); return false;">Visit Us Online</a>
           </div></div>
          
          <div class="row">
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-facebook-outline"  href="#" onclick="window.open('https://www.facebook.com/guthyjacksonfoundation/timeline/', '_system', ''); return false;">Facebook</a></div>
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-twitter-outline"  href="#" onclick="window.open('http://twitter.com/guthyjacksonfdn', '_system', ''); return false;">Twitter</a></div>
          </div>
          
          <div class="row">
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-instagram-outline"  href="#" onclick="window.open('http://www.instagram.com/theguthyjacksonfdn/', '_system', ''); return false;">Instagram</a></div>
            <div class="col"><a class="button button-block button-outline button-positive icon-left ion-social-youtube-outline"  href="#" onclick="window.open('http://www.youtube.com/user/GJCF2010', '_system', ''); return false;">YouTube</a></div>
          </div>
          
          
          <div class="row">
            <div class="col"><a class="button button-block button-outline button-balanced icon-left ion-social-usd-outline"  href="#" onclick="window.open('http://www.guthyjacksonfoundation.org/donate/', '_system', ''); return false;">Donate</a></div></div>
        </div>
    </ion-content>
</ion-view>