<ion-view view-title="Home" hide-nav-bar="true" ng-controller="MainPageCtrl">
    <ion-content class="img-background" delegate-handle="mainScroll">
        <h1 class="welcome">NMO Resources</h1>
        <ion-list class="clear-background">
            <ion-item href="#/app/about_menu" class="item-icon-right item-text-wrap">
                About NMO 
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/diag_menu" class="item-icon-right item-text-wrap">
                Diagnosis
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/vids_menu" class="item-icon-right item-text-wrap">
                Videos
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/rese_menu" class="item-icon-right item-text-wrap">
                Latest Research
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/clin_menu" class="item-icon-right item-text-wrap">
                Clinical Trials
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/notes_menu" class="item-icon-right item-text-wrap">
                My NMO Notes
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/doccountries" class="item-icon-right item-text-wrap">
                Find an Expert
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/blood_menu" class="item-icon-right item-text-wrap">
                Blood Bank
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/gjcf_menu" class="item-icon-right item-text-wrap">
                About The GJCF
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
            <ion-item href="#/app/settings" class="item-icon-right item-text-wrap">
                Settings
                <i class="icon ion-ios-arrow-forward"></i>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <a href="#/app/gjcf_menu" class="footer-logo">
        <img src="img/AppbyGJCF.png" class="footer-logo"></a>
    </ion-footer-bar>
</ion-view>
