<div class="modal">
 <ion-modal-view>
  <ion-header-bar align-title="center" class="bar-light">
     <div class="buttons">
         <button class="button button-clear button-assertive" ng-click="closeAddModal()">Cancel</button>
     </div>
      <h1 class="title">Add Note</h1>
      <div class="buttons">
        <button type="button" class="button button-clear button-balanced" ng-click="saveAddModal(modalAddNoteTitle, modalAddNoteContent)">Save</button>
      </div>
    </ion-header-bar>
  <ion-content>
    <form name="modalAddForm" method="post">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Title" ng-model="modalAddNoteTitle">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Note</span>
          <textarea elastic placeholder="Note" ng-model="modalAddNoteContent" rows="10"></textarea>
        </label>
      </div>
      <br>
      <br>
    </form>
  </ion-content>
</ion-modal-view>
</div>