<ion-view view-title="Latest Research">
    <ion-content>
        <h1 class="gj-title padding">ICC Review Articles</h1>
        <ion-list>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">Challenges and opportunities in designing clinical trials for neuromyelitis optica</h2>
                <div>
                    <p>Authors: Weinshenker BG, et al.</p>
                    <p>Neurology April 28, 2015 vol.</p>
                    <p>84 no. 17 1805-1815</p>
                    <p>PMID: 25841026</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://www.neurology.org/content/84/17/1805.long', '_blank', ''); return false;">Read Now</a>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">Treatment of Neuromyelitis Optica: Review and Recommendations</h2>
                <div>
                    <p>Authors: Kimbrough, DJ, et al.</p>
                    <p>Mult Scler Relat Disord.</p>
                    <p>2012 Oct;1 (4):180-187</p>
                    <p>PMID: 24555176</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3926208/', '_blank', ''); return false;">Read Now</a>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">MRI Characteristics of Neuromyelitis Optica Spectrum Disorder: An	International Update</h2>
                <div>
                    <p>Authors: Kim HJ, et al. </p>
                    <p>Neurology. 2015 Mar 17;84 </p>
                    <p>(11):1165-1173.</p>
                    <p>PMID: 25695963</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://www.neurology.org/content/84/11/1165.long', '_blank', ''); return false;">Read Now</a>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">Neuromyelitis Optica and Multiple Sclerosis: Seeing Differences Through Optical Coherence Tomography</h2>
                <div>
                    <p>Authors: Bennett J, et al.</p>
                    <p>Mult Scler. 2015 Feb 6. Epub</p>
                    <p>PMID: 25662342</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://msj.sagepub.com/content/21/6/678.long', '_blank', ''); return false;">Read Now</a>

                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">B Lymphocytes in Neuromyelitis Optica</h2>
                <div>
                    <p>Authors: Bennett, et al.</p>
                    <p>Neurol Neuroimmunol Neuroinflamm.</p>
                    <p>2015 May 7.; 2(3). e104</p>
                    <p>PMID: 25977932</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4426682/', '_blank', ''); return false;">Read Now</a>

                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">Demographic and Clinical Features of Neuromyelitis Optica: A Review</h2>
                <div>
                    <p>Authors: Pandit L, et al.</p>
                    <p>Mult Scler. 2015 April 28. Epub</p>
                    <p>PMID: 25921037</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4463026/', '_blank', ''); return false;">Read Now</a>

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
