<ion-view view-title="Latest Research">
    <ion-content>
        <h1 class="sunleaf">Latest Research</h1>
        <ion-list>
            <ion-item href="#/app/rese_one" class="item-icon-right">
                ICC Review Articles
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/rese_two" class="item-icon-right">
                Treatment Articles
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>