<ion-view view-title="Latest Research">
    <ion-content>
        <h1 class="gj-title padding">Treatment Articles</h1>
        <ion-list>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">Update on the diagnosis and treatment of neuromyelitis optica: Recommendations of the Neuromyelitis Optica Study Group (NEMOS)</h2>
                <div>
                    <p>Authors: Trebst, C et al.</p>
                    <p>Journal of Neurology 2013</p>
                    <p>Volume 261, Issue 1 , pp 1-16 </p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://link.springer.com/article/10.1007/s00415-013-7169-7/fulltext.html', '_blank', ''); return false;" >Read Now</a>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">Treatment of neuromyelitis optica: an evidence based review</h2>
                <div>
                    <p>Authors: Sato, D et al.</p>
                    <p>Arq. Neuro-Psiquiatr.,  São Paulo</p>
                    <p>v. 70, n. 1, p. 59-66, Jan.  2012</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://ref.scielo.org/ktjf48', '_blank', ''); return false;">Read Now</a>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">Neuromyelitis Optica.</h2>
                <div>
                    <p>Authors: Wingerchuck and Weinshenker</p>
                    <p>Neurologic Ophthalmology and Otology</p>
                    <p>2012 Jun; 32(2):154-66</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://www.ncbi.nlm.nih.gov/pubmed/22617743', '_blank', ''); return false;">Read Now</a>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2 class="gj-h2">The Treatment of Neuromyelitis Optica</h2>
                <div>
                    <p>Authors: Kowarik, M et al.</p>
                    <p>J Neuro-Ophthalmol 2014; 34: 70-82</p>
                    <a class="button button-block button-outline button-balanced icon-left ion-ios-paper-outline" href="#" onclick="window.open('http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4208473/', '_blank', ''); return false;">Read Now</a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
