<ion-view view-title="Videos" ng-controller="CatsCtrl">
    <ion-content header-parallax scroll-event-interval="5">
        <h1 class="sunleaf parallax">Videos</h1>

           <ion-list ng-if="isConnected">
              <ion-item ng-repeat="cat in cats" href="#/app/vids_menu/{{cat.catid}}" class="item-icon-right">
                  {{cat.category}}
                  <i class="icon ion-ios-arrow-right"></i>
              </ion-item>
            </ion-list>
            <div class="padding white-background"><br>
                  <div class="card" ng-if="!isConnected">
                   <div class="item item-text-wrap">
                      <h2 class="assertive">No Network Connection</h2>
                     <p>I'm sorry, but your device is not connected to a network. This section of the app requires an internet connection.</p>
                   </div>
                 </div>
            </div>

    </ion-content>
</ion-view>
