<ion-view view-title="Roundtable Conference">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__events parallax-sub">NMO Roundtable Conference</h1>
        <ion-list>
            <ion-item href="#/app/rt8_one" class="item-icon-right">
                Agenda - Monday, February 29
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/rt8_two" class="item-icon-right">
                Agenda - Tuesday, March 1
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/rt8_three" class="item-icon-right">
                Poster Abstracts
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>