<ion-view view-title="Roundtable Conference" ng-controller="RT8ThreeSingleCtrl">
    <ion-content class="padding">
       <br>
						<h3 class="gj-h3">{{item.gsx$title.$t}}</h3>
           <br>
            <p ng-if="item.gsx$authors.$t"><strong>{{item.gsx$authors.$t}}</strong></p>
            <br>
						<span ng-bind-html="item.gsx$institutions.$t"></span>
<!--						<p ng-if="item.gsx$abstract.$t"  style="white-space:pre-wrap">{{item.gsx$abstract.$t}}</p>-->
           <br>
            <span ng-bind-html="item.gsx$abstract.$t"></span>

        <br><br>
				<div class="white-background text-center">
					<ion-spinner ng-if="!isLoaded" icon="lines" class="center spinner-balanced"></ion-spinner>
				</div>
				<div class="card" ng-if="!isConnected">
					<div class="item item-text-wrap">
						<h2 class="assertive">No Network Connection</h2>
						<p>I'm sorry, but your device is not connected to a network. This section of the app requires an internet connection.</p>
					</div>
				</div>
    </ion-content>
</ion-view>
