<ion-view view-title="Patient Day 2016">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf parallax-sub">Blood Draw</h1>
        <div class="padding white-background">
              <p><strong>Donating blood and followup data to the GJCF NMO Biorepository is one of the most valuable contributions NMO patients can make to help find a cure for NMO.</strong></p>
              <ul class="list">
                <li class="item item-text-wrap">The NMO Patient Day Blood Draw dates are March 1,2,3, at the LAX Hilton Hotel (the conference hotel). - Attendees can donate their blood during this three-day period.</li>
                <li class="item item-text-wrap">After the event, donors will need to schedule a few hours on the phone with a researcher to provide followup clinical health data after the blood draw. Blood donations cannot be used for research unless this critical information is provided by donors.</li>
                <li class="item item-text-wrap">If you want to donate blood at NMO Patient Day, you need to schedule your appointment and consent over the phone before the conference. If you do not consent or schedule your appointment before NMO Patient Day, you must wait in line to donate your blood sample.</li>
                <li class="item item-text-wrap">To learn more, <a href="#" onclick="window.open('http://www.guthyjacksonfoundation.org/repository/', '_system', ''); return false;">click here</a>. A clinical research coordinator will then contact you to consent and schedule your blood draw appointment and consent you pre-event, saving you valuable time.</li>
              </ul>     	
        </div>
    </ion-content>
</ion-view>