<ion-view view-title="Patient Day 2016">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf parallax-sub">Attendee Tips</h1>
        <div class="padding white-background">
        	    <h4>Pre-Conference</h4>
							<ul class="list">
								<li class="item item-text-wrap">Register online ASAP. Space is limited.</li>
								<li class="item item-text-wrap">Travel Grants are available to those who need them. Learn more during online registration.</li>
								<li class="item item-text-wrap">If you plan to give blood, schedule your appointment time and consent over the phone well before the event with a clinical research coordinator (CRC). If you receive an email or call from a CRC, please respond ASAP. This will save you both valuable time.</li>
								<li class="item item-text-wrap">Donate your blood sample the day before (March 1). The blood draw is three days long. Donating before the event will maximize your time to participate in NMO Patient Day activities.</li>
								<li class="item item-text-wrap">Plan your travel early. Usually prices (especially for flights) are cheaper when you buy tickets well in advance of any date of travel.</li>
								<li class="item item-text-wrap">Reserve your hotel room ASAP. If you plan to stay at the conference hotel (Hilton LAX), the foundation has a room code you can use. Find it during online registration.</li>
								<li class="item item-text-wrap">Sign-in early. Beat the crowd and sign-in on March 1 on the second floor of the Hilton LAX.</li>
								<li class="item item-text-wrap">Reach out to others before the event. Many attendees make plans to meet up before, during and or after the event. Many plans are made by connecting with social media. </li>
								<li class="item item-text-wrap">Get ready to make new friends. Be prepared to write down contact information.</li>
								<li class="item item-text-wrap">Prepare your NMO questions ahead of time. For Clinical Trials, Researchers and clinicians</li>
								<li class="item item-text-wrap">Make sure your phone/camera is charged. In the conference rooms, smartphone batteries tend to drain faster than normal.</li>
								<li class="item item-text-wrap">Get your NMO gear at the NMO Shop (2nd Floor)</li>
							</ul>
							<h4>During the Conference</h4>
							<ul class="list">
								<li class="item item-text-wrap">Donate your blood sample. Donations are a CRITICAL need. It’s THE most important contribution NMO patients can make to help cure NMO.</li>
								<li class="item item-text-wrap">Make new friends. You’ll be in a safe environment where people truly understand what it’s like to live with NMO. For you repeat attendees, find someone who has never before attended and make them feel welcome. Remember the first time you attended? New attendees are trying to get their bearings and might be overwhelmed and disconnected as they see you connecting with your friends. </li>
								<li class="item item-text-wrap">Post your photos of NMO Patient Day on social media. Help raise awareness about NMO and bring your smartphone camera to let people know what you’re doing. Don’t forget: #NMOPatientDay </li>
								<li class="item item-text-wrap">Look for opportunities to join or form a support group. Don’t leave NMO Patient Day without making at least three new friends. Get their contact information and stay in touch. </li>
								<li class="item item-text-wrap">As you know, clinicians and researchers have extremely busy schedules. Some do need to leave a bit early. If you want to talk to a particular person, have your question at-the-ready, or write it down with your contact information and hand it to them. They can respond to you after the conference.</li>
								<li class="item item-text-wrap">Coming with someone? Attend all the breakout sessions by splitting up and taking notes. (Yes, the sessions will be filmed and posted on the foundation’s website after the event.)</li>
								<li class="item item-text-wrap">Bring a sweater. With so many people in one room, the climate can quickly become a bit hot and stuffy. Executing the perfect balance between too hot and too cold is a tricky art. The hotel staff does a great job of finding this balance, but in general, the room temperature tends to be on the colder side.</li>
								<li class="item item-text-wrap">Get your NMO gear at the NMO Shop (2nd Floor).</li>
								<li class="item item-text-wrap">Need help? Don’t be shy. Ask a fellow attendee or ask any of the foundation staff. We are excited that you are attending and we are here to help. We will be wearing green ties / scarves.</li>
							</ul>
							<h4>Post Conference</h4>
							<ul class="list">
								<li class="item item-text-wrap">Stay connected and reach out to your new friends by phone or email.</li>
								<li class="item item-text-wrap">Follow up with NMO support group leads.</li>
								<li class="item item-text-wrap">Set some advocacy and/or fundraising goals for 2016.</li>
								<li class="item item-text-wrap">If you were unable to talk to a particular researcher, clinician or industry rep, don’t worry. Talk to one of the foundation staff and we will be happy to try to and get your question answered. </li>
								<li class="item item-text-wrap">Donate your blood sample the day after (March 3). The blood draw is three days long.</li>
							</ul>
        </div>
    </ion-content>
</ion-view>