<ion-view view-title="Patient Day">
    <ion-content header-parallaxsub scroll-event-interval="5">
        <h1 class="sunleaf sunleaf__events parallax-sub">Patient Day 2016</h1>
        <ion-list>
            <ion-item href="#/app/pd16_one" class="item-icon-right">
                Information &amp; Registration
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/pd16_two" class="item-icon-right">
                Agenda
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/pd16_three" class="item-icon-right">
                Breakout Sessions
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/pd16_four" class="item-icon-right">
                Maps
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/pd16_five" class="item-icon-right">
                On-site Blood Draw
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item href="#/app/pd16_six" class="item-icon-right">
                Attendee Tips
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
<!--
            <ion-item href="#/app/pd16_seven" class="item-icon-right">
                Share Online (maybe)
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
-->
        </ion-list>

 
    </ion-content>
</ion-view>