<div class="modal">
 <ion-modal-view>
 
     <ion-header-bar class="bar bar-header bar-balanced">
          <h1 class="title">Event Details</h1>
          <button class="button button-clear button-primary" ng-click="closeModal()">Close</button>
        </ion-header-bar>
 
 
  <ion-content class="padding">
  <br>
   <h1 class="gj-title" ng-bind-html="modal.event.title.rendered"></h1>
  
  
  <img ng-if="modal.event.better_featured_image" ng-src="{{modal.event.better_featured_image.media_details.sizes.medium.source_url}}" alt="Event Promo Image" class="center">   
   <div class="list list-inset">
    <div class="item item-text-wrap">
      <p ng-bind-html="stripLinks(modal.event.content.rendered)"></p>
    </div>
     <div class="item item-text-wrap">
       <p><strong>Date: </strong> {{parseDate(modal.event._gjcf_events_date)}}</p>  
     </div>
     <div class="item item-text-wrap" ng-if="modal.event._gjcf_events_venue_name">
       <p><strong>Location: </strong> {{modal.event._gjcf_events_venue_name}}</p> 
       <button ng-if="modal.event._gjcf_events_location.latitude" class="button button-block button-outline button-balanced icon-right ion-ios-navigate-outline" ng-click="mapsLink(modal.event._gjcf_events_location.latitude, modal.event._gjcf_events_location.longitude)">Get Directions</button> 
     </div>
   </div>
             
    <button class="button button-block button-outline button-balanced" ng-click="openLink(modal.event)">More Info</button>

    
  </ion-content>
</ion-modal-view>
</div>